*{

}

a{
  color: #FFF;
}

body{
  font-family: 'Adamina';
  font-size: 24px;
  /* background-image: url("background2.jpg"); */
  background-color: black;
  background-size: cover;
  color: white;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

a:visited {
  color:#FFF;
}

header{
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  color: #FFF;
}

#currentLink{
  color: #FFFFFF;
  background-color: #000000;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-gap: 1em;
  grid-template-areas:
    "restaurantPic1 restaurantText1"
    "restaurantText2 restaurantPic2"
    "restaurantPic3 restaurantText3"
}

.nav_pic1{
  grid-area: restaurantPic1;
  padding: 1em;
  justify-self: end;
}

.nav_pic2{
  grid-area: restaurantPic2;
  padding: 1em;
  justify-self: start;
}

.nav_pic3{
  grid-area: restaurantPic3;
  padding: 1em;
  justify-self: end;
}

.nav_text1{
  grid-area: restaurantText1;
  padding: 1em;
  font-size: 12pt;
  color: #FFF;
  text-align: center;
  justify-self: start;
  align-self: center;
}

.nav_text2{
  grid-area: restaurantText2;
  padding: 1em;
  font-size: 12pt;
  color: #FFF;
  text-align: center;
  justify-self: end;
  align-self: center;
}

.nav_text3{
  grid-area: restaurantText3;
  padding: 1em;
  font-size: 12pt;
  color: #FFF;
  text-align: center;
  justify-self: start;
  align-self: center;
}

.wrapper img{
  max-width: 200px;
  max-height: 200px;
}

.gallery_link{
  font-size: 36px;
}

.alinea_gallery{
  display: inline;
}

.alinea_gallery img{
  max-width: 300px;
  max-height: 600px;
}

#formCheck{
  color: white;
}

.footnote{
  font-size: 12px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#nameError {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 22px;
  color:red;
  visibility: hidden; }

#alineaContent {
  display: flex;
  justify-content: center;
}

#myBtn {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#achatz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 10px;
border: 1px solid #888;
width: 80%;
text-align: center;
}

.modal-header {
  text-align: center;
  padding: 2px 2px;
  background-color: red;
  color: white;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  z-index: 999;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 768px){
  .wrapper{
    grid-template-areas:
      "restaurantPic1 restaurantText1"
      "restaurantPic2 restaurantText2"
      "restaurantPic3 restaurantText3"
  }

  .wrapper img{
    max-width: 300px;
    max-height: 300px;
  }

  .nav_text1, .nav_text2, .nav_text3{
    font-size: 16pt;
  }

  .nav_pic2{
    justify-self: end;
  }

  .nav_text2{
    justify-self: start;
  }
}

/* DESKTOP MEDIA QUERY */
@media screen and (min-width: 1024px){
  .wrapper{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "restaurantPic1 restaurantPic2 restaurantPic3"
      "restaurantText1 restaurantText2 restaurantText3"
  }

  .nav_pic1, .nav_pic2, .nav_pic3{
    justify-self: center;
    align-self: center;
  }

  .nav_text1, .nav_text2, .nav_text3{
    font-size: 24pt;
    text-align: center;
    justify-self: center;
    align-self: center;
  }

  .wrapper img{
    max-width: 400px;
    max-height: 400px;
  }
}
