*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Adamina';
  font-size: 24px;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

header{
  font-family: Impact, Charcoal, sans-serif;
}

nav {
  background-color: #FFF;
  font-family: "Georgia", sans-serif;
}

nav ul{
  display: inline;
}

nav li{
  display: inline;
  padding: 0 10px;
}

nav li.currentLink{
  color: #FFFFFF;
  background-color: #000000;
}

.nav_items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("background_test.jpg");
  background-size: cover;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.nav_items img{
  width: 300px;
  height: 200px;
}

.row h3{
  color: #FFFFFF;
}

.row p{
  color: #FFFFFF;
}

.gallery_link{
  font-size: 36px;
}

.alinea_gallery{
  display: inline;
}

.alinea_gallery img{
  max-width: 300px;
  max-height: 600px;
}

#footnote{
  font-size: 12px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
